<%= form_for(@service_record) do |f| %>
  <% if @service_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_record.errors.count, "error") %> prohibited this service_record from being saved:</h2>

      <ul>
      <% @service_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service_type %><br>
    <%= f.text_field :service_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
